.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

button {
    border: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #f6f6f6;
    width: 200px;
    font-size: 20px;
    padding: 12px;
    border-radius: 15px;
}

button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.19);
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}